@font-face {
    font-family: encodeSans;
    src: url("Fonts/EncodeSans-VariableFont_wdth,wght.ttf");
  }
  
  @media (min-width: 600px) {

      .data {
        margin-top: 20px;
        color: #ffffff;
        text-align: center;
        font-size: larger;
  
      }
      .master {
        color: rgba(255, 255, 255, 0.473);
        font-size: 80px;
        margin-top: 100px;
        font-family: einaRegular;
        font-weight: bold;
      }
      .behind {
        color: rgb(255, 255, 255);
        font-size: 50px;
        font-style: italic;
        font-family: einaRegularLight;
        margin-top: -40px;
      }
  }
  @media (max-width: 768px) {

    .data {
      margin-top: 20px;
      color: #ffffff;
      text-align: center;
      font-size: large;
    }
    .master {
      color: rgba(255, 255, 255, 0.473);
      font-size: 50px;
      margin-top: 100px;
      font-family: einaRegular;
      font-weight: bold;
    }
    .behind {
      color: rgb(255, 255, 255);
      font-size: 40px;
      font-style: italic;
      font-family: einaRegularLight;
      margin-top: -30px;
    }
  }
  
  .mainTitle {
    display: flex;
    height: auto;
    flex-direction: column;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }
  

  
  .pplRow1,
  .pplRow2 {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap into new rows */
    width: 95%;
    justify-content: center;
    gap: 3em;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .people {
    display: flex;
    flex-wrap: wrap; /* Enable automatic wrapping of cards */
    justify-content: center; /* Center the cards in each row */
    width: 100%;
    overflow: hidden;
  }
  
  .img {
    display: flex;
    align-items: end;
    position: relative;
    width: 400px; /* Default card width */
    height: 400px; /* Card height */
    border-radius: 25px;
    overflow: hidden;
  }
  
  @media (max-width: 500px) {
    .img{
      width: 80%;
      height: 250px;
    }
  }

  .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px; /* Ensure the image corners match the div corners */
  }

  
  .desig {
    margin: 20px;
    color: #ffffff;
    position: absolute;
    font-family: encodeSans;
    font-weight: 900;
    font-size: 50px;

    bottom: 0px;
    transition: bottom 0.3s ease, opacity 0.3s ease;
  }
  
  .name {
    display: none; /* Ensure the name is displayed inline */
    opacity: 0;
    transition: opacity 0.3s ease;
    font-weight: 450;
    font-size: 25px;
    margin-left: 2px;
    margin-top: -20px;
    font-style: italic;
    font-family: einaRegularLight;
    color: #fff;
  }
  
  .overlayCard {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    color: #fff;
    display: flex;
    justify-content: baseline;
    align-items: end;
    transition: height 0.3s ease, opacity 0.3s ease;
    pointer-events: none; /* Prevent the overlay from interfering with mouse events */
    opacity: 0; /* Initially hide the overlay */
  }
  
  .img:hover .overlayCard {
    height: 100%;
    opacity: 1; /* Show the overlay when hovering */
  }
  
  .img:hover .desig {
    bottom: 10px; /* Move the designation up */
  }
  
  .img:hover .name {
    display: block; /* Show the name */
    opacity: 1;
  }
  
  .img:hover .desig,
  .img:hover {
    color: rgba(255, 255, 255, 0.39); /* Change text color to white on hover */
  }
  .boxBlck{
    width: 90%;
    height: auto;
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    display: flex;
   align-items: center;
  
  }
  .abtUs{
    width: 100%;
    color: #8d8d8d;
    font-family: Inter Tight;
    font-size: 50px; 
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 0.2em;
    line-height: 90%;
  }
  .boxWht{
    height: auto;
    width: auto;
    background-color: rgb(50, 50, 50);
    border-radius: 20px;
    color: #ffffff;
    padding: 10px;
    margin-top: 0.5em;
  }

  .boxWht p{
    text-align: start;
    margin: 0;
  }

  .abtText{
    background: #FFFFFF;
    background: linear-gradient(to bottom right, #FFFFFF 38%, #222222 69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    background-size: 500% auto;
    transition: 0.2s ease;
    font-weight: 200;
    margin-bottom: 0px;
    line-height: 99%;
    font-family: Inter Tight;
  }


  @media (min-width: 600px) {
.abtText{
  font-size: 4em;
}
  }

  @media (max-width: 600px) {
    .abtText{
      font-size: 2.1em;
    }
      }

      .abtContainer{
margin-top: 4em;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
      }


