* {
    scroll-behavior: smooth;
}

.rba {
    padding: 0;
    background: linear-gradient(to right, red, blue);
    background-clip: text;
    color: transparent;
    animation: gradientAnimation 3s linear infinite;
    font-size: 125px;
    margin-left: 9%;
    width: fit-content;

}


.sub {
    margin-top: 1%;
    color: rgb(165, 165, 165);
    margin-left: 9%;
    font-family: poppinsExtraLight;
    font-size: 20px;
    line-height: 90%;
}

@media (min-width:600px) {
    .titles {
        width: 100%;
        margin-top: 140px;
    }

    .scrollMenu {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        height: 80px;
        overflow: hidden;
        width: 100%;
    }

    .line {
        border-left: 1px solid #ffffff;
        color: #ffffff;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: einaRegular;
        font-weight: bold;
        font-size: 30px;
        transition: 1s;
    }

    .line1 {
        border-left: 1px solid #ffffff;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: einaRegular;
        font-weight: bold;
        font-size: 30px;
        transition: .2s;
        height: 100%;
        /* Set the height to fill the scrollMenu */
    }

    .line2 {
        border-left: 1px solid #ffffff;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: einaRegular;
        font-weight: bold;
        font-size: 30px;
        transition: .2s;
        height: 100%;
        /* Set the height to fill the scrollMenu */
    }

    .line3 {
        border-left: 1px solid #ffffff;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: einaRegular;
        font-weight: bold;
        font-size: 30px;
        transition: .2s;
        height: 100%;
        /* Set the height to fill the scrollMenu */
    }


    .line3 {
        border-right: 1px solid #ffffff;
    }

    .line:hover {
        text-shadow: #FC0 5px 0 20px;
        font-size: 33px;
    }

    .ftrs {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 50px;

    }

    .imgWhy {
        height: 100%;
        width: 40%;
    }

    .why {
        display: flex;
        width: 30%;
        height: 400px;
        background-color: rgba(255, 255, 255, 0.055);
        border: #ffffff3d solid 2px;
        border-radius: 40px;
        color: #fff;
        font-size: 22px;
        text-align: center;
        align-items: center;
        padding: 50px;
        background-image: radial-gradient(circle at center center, transparent 0%, rgb(0, 0, 0) 99%), repeating-linear-gradient(0deg, rgba(163, 163, 163, 0.122) 0px, rgba(163, 163, 163, 0.473) 1px, transparent 2px, transparent 6px), repeating-linear-gradient(90deg, rgba(163, 163, 163, 0.12) 0px, rgba(163, 163, 163, 0.052) 1px, transparent 1px, transparent 6px), linear-gradient(90deg, rgba(33, 33, 33, 0.318), rgba(33, 33, 33, 0.367));
    }
}

@media (max-width:768px) {
    .titles {
        width: 100%;
        margin-top: 120px;
    }

    .scrollMenu {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        height: auto;
        overflow: hidden;
        width: 100%;
    }

    .line {
        border-left: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        color: #ffffff !important;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: einaRegular;
        font-weight: bold;
        font-size: 30px;
        transition: .5s;
    }

    .line:hover {
        text-shadow: #FC0 0px 0 20px;
        font-size: 33px;
    }

    .ftrs {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 50px;
        flex-direction: column;

    }

    .imgWhy {
        height: 0%;
        width: 0%;
        display: none;
    }

    .why {
        display: flex;
        width: 65%;
        height: 400px;
        background-color: rgba(255, 255, 255, 0.055);
        border: #ffffff3d solid 2px;
        border-radius: 40px;
        color: #fff;
        font-size: 22px;
        text-align: center;
        align-items: center;
        padding: 50px;
        background-image: radial-gradient(circle at center center, transparent 0%, rgb(25, 25, 25) 99%), repeating-linear-gradient(0deg, rgba(163, 163, 163, 0.122) 0px, rgba(163, 163, 163, 0.083) 1px, transparent 2px, transparent 6px), repeating-linear-gradient(90deg, rgba(163, 163, 163, 0.12) 0px, rgba(163, 163, 163, 0.052) 1px, transparent 1px, transparent 6px), linear-gradient(90deg, rgba(33, 33, 33, 0.318), rgba(33, 33, 33, 0.367));
    }
}

.gradientBox {
    position: inherit;
    width: 100%;
    height: 1000px;
    z-index: -1;
    background: linear-gradient(#ffffff00 15%, rgba(255, 0, 0, 0.205), #ffffff00);
    margin-top: -500px;
}

.whydiv {
    display: flex;
    width: 100%;
    justify-content: center;
    height: auto;
    align-items: center;
}


.wLink {
    justify-self: center !important;
    width: auto;
    color: #fff !important;
    text-decoration: none;
}

.ftr {
    border: #ffffff3d solid 2px;
    border-radius: 40px;
    width: 270px;
    height: 280px;
    background-color: rgba(255, 255, 255, 0.055);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: #fff;
    font-size: 28px;
    justify-content: baseline;
    background-image: radial-gradient(circle at center center, transparent 0%, rgb(0, 0, 0) 99%), repeating-linear-gradient(0deg, rgba(163, 163, 163, 0.122) 0px, rgba(163, 163, 163, 0.473) 1px, transparent 2px, transparent 6px), repeating-linear-gradient(90deg, rgba(163, 163, 163, 0.12) 0px, rgba(163, 163, 163, 0.052) 1px, transparent 1px, transparent 6px), linear-gradient(90deg, rgba(33, 33, 33, 0.318), rgba(33, 33, 33, 0.367));
}

.pricingdiv {
    display: flex !important;
    width: 100%;
    justify-content: center !important;
    height: auto !important;
    align-items: center;

}

.pricing {
    width: 70%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.055);
    border: #ffffff3d solid 2px;
    border-radius: 40px;
}

.fHeading {
    width: auto;
}

.bline {
    margin: 0%;
    background-color: #ffffff49;
    color: #000000;
    width: 100%;
    height: 3px;
    border: none;
    border-radius: 100px;
}

@media (min-width: 600px) {
    .pckContainerRBA {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        background-color: grey;
    }

    .sectionLeftRBA {
        background-color: rgb(0, 0, 0);
        width: 60%;
        top: 0;
        padding-bottom: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sectionRightRBA {
        background-color: rgb(0, 0, 0);
        width: 40%;
        height: auto;
        overflow-y: auto;
        padding-bottom: 1em;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pckInfoRBA {
        width: 90%;
        height: auto;
        position: sticky;
        top: 0;
        background-image: radial-gradient(circle at center center, transparent 0%, rgb(0, 0, 0) 99%), repeating-linear-gradient(0deg, rgba(163, 163, 163, 0.122) 0px, rgba(163, 163, 163, 0.083) 1px, transparent 2px, transparent 6px), repeating-linear-gradient(90deg, rgba(163, 163, 163, 0.12) 0px, rgba(163, 163, 163, 0.052) 1px, transparent 1px, transparent 6px), linear-gradient(90deg, rgba(33, 33, 33, 0.318), rgba(33, 33, 33, 0.367)) !important;
        height: auto;
        padding: 1.5em;
        border-radius: 1.5em;
        border: 1px solid rgb(165, 165, 165);
        padding-bottom: 1em;
        top: 70;

    }
}

@media (max-width: 600px) {
    .pckContainerRBA {
        width: 100%;
        height: auto;
        flex-direction: column;
        background-color: grey;
        display: flex;
        overflow: hidden;


    }

    .sectionLeftRBA {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
        padding-bottom: 1em;


    }

    .sectionRightRBA {
        background-color: rgb(0, 0, 0);
        width: 100%;
        overflow-y: auto;

    }

    .pckInfoRBA {
        height: auto;
        padding: 1.5em;
        border-radius: 1.5em;
        border: 1px solid rgb(165, 165, 165);
        background-image: radial-gradient(circle at center center, transparent 0%, rgb(0, 0, 0) 99%), repeating-linear-gradient(0deg, rgba(163, 163, 163, 0.122) 0px, rgba(163, 163, 163, 0.473) 1px, transparent 2px, transparent 6px), repeating-linear-gradient(90deg, rgba(163, 163, 163, 0.12) 0px, rgba(163, 163, 163, 0.052) 1px, transparent 1px, transparent 6px), linear-gradient(90deg, rgba(33, 33, 33, 0.318), rgba(33, 33, 33, 0.367)) !important;
    }
}