@font-face {
font-family: einaRegular; 
src: url('Fonts/Eina01-Regular.ttf'); 
}
@font-face {
font-family: einaLight; 
src: url('Fonts/Eina02-Light.ttf'); 
}
@font-face {
font-family: einaBold; 
src: url('Fonts/Eina02-Bold.ttf'); 
}
@font-face {
font-family: cFont2; 
src: url('Fonts/RequestPersonalUse-axgZo.otf'); 
}
@font-face {
  font-family: PSansLight; 
  src: url('Fonts/PublicaSans-Light.otf'); 
  }
  @font-face {
    font-family: PSansUltraLight; 
    src: url('Fonts/PublicaSans-ExtraLight.otf'); 
    }



body{
  margin: 0;
background-color: rgb(0, 0, 0);
font-family: sans-serif;
}
.main{
animation: 2s fadeStart ease ;
animation-delay: 2.8s;
opacity: 1;
}

@keyframes fadeStart {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
.overlay{
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.536);
  overflow: hidden;
  transition: 0.8s ease;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: 999;
}

.overlay-content {
  position: relative;
 padding-top: 10%;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;  
   backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
.overlay-content a {
font-size:100px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818589;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus, .navI a:hover {
  color: #f1f1f1;
  text-shadow: 0 0 2px white;
  cursor: pointer;
}

@media (max-height: 768px) {
  .overlay {overflow-y: auto;}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  z-index: 1;
}
}
@media (min-width: 600px) {
  .openbtn{
     display: none;
  }
  .NavItDesk{
  display: block;
}

.pkgtagline {
  color: #ffffff;
  text-align: center;
  font-family: einaRegular;
  font-weight: 2;
  font-size: xxx-large;

  text-shadow: 0 0 15px #fff;

}

.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7em;
  flex-direction: row ;

}




.boxes {
  animation: example 3s ease-in-out forwards;
  opacity: 0;
}

@keyframes example {

  from {
    opacity: 0;
    gap: 0em;
  }
  to {
    opacity: 1;
    gap: 7em;
  }
}

  }




  @media (max-width: 768px) {
    .openbtn{
     display: block;
  }
  .NavItDesk{
 display: none;

} .HeadMobi{
  position: sticky;
  top: 0;
}
.pkgtaglinediv{
  margin-top: 3em;
  margin-bottom: 3em;
}

.pkgtagline {
  color: #ffffff;
  text-align: center;
  font-family: einaRegular;
  font-weight: 2;
  font-size: x-large;
  text-shadow: 0 0 15px #fff;

}




.boxes {
  margin: 0 auto; /* Center the .boxes container horizontally */
  width: 95%; /* Set a width for the .boxes container */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 columns */
  gap: 3rem;
  overflow-x: auto; /* Horizontal scroll */
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  
}

.box {
  scroll-snap-align: center;
}

/* Hide scrollbar */
.boxes::-webkit-scrollbar {
  display: none;
}

.box2 {
  scroll-snap-align: center; /* Center the box when scrolling */
}
.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #555;
  margin: 0 10px;
  cursor: pointer;
}

.dot.active {
  background-color: #ccc;
}


    }


  
.header{
  width: 100%;
  height: 10px;
  background-color: red;
}

.navI a{
color: #818589;
text-decoration: none;
font-size: 1.1em;
transition: 0.3s;
animation: F-R 1s ease;
font-family: cFont;
}

@keyframes F-R {
from {
  opacity: 0;
}
to {
 opacity: 1;
}
}

.overlay .closebtn {
  position: absolute;
  padding-top: 0em;
  transition: 1s ease;
  z-index: 1;
  font-family: einaRegular;
}

.openbtn {
transition:  1.4s ease;
padding-top: 0;
animation: 0.5s upop ease;
font-family:  einaRegular;
;
}
@keyframes upop{
from{
  opacity: 0;
  padding-top: 1.5em;
}
to{
  opacity: 1;
  padding-top: 0;
}
}
.spNav{
padding-top: 1em;
transition: 5s;
font-family: cFont;
}


.hrPro{
border: 1px solid rgb(255, 255, 255);
width: 70%;
}

.themes{
color: white;
}

.logo{
height: 3em;
animation: F-R 1s ease;
padding-top: 3px;
padding-bottom: 3px;
}

@media (min-width: 768px) {
.logo{
  padding-top: 15px;
padding-bottom: 10px;
}
}
.firstHeader{
height: 3em; 
width: 100%; 
background-color: rgba(0, 0, 0, 0.400);
height: 100%; 
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);

}
.secondHeader{
height: auto;
 width: 100%; 
 background-color: rgba(0, 0, 0, 0.400);
 text-align: center; 
 padding-top: 0px;
  position: sticky; top: 0;
  backdrop-filter: blur(15px);
 -webkit-backdrop-filter: blur(15px);
 z-index: 50;
}

::selection {
background: rgb(255, 255, 255);
}

html{
user-select: none;
-webkit-tap-highlight-color: transparent;
}

@font-face {
font-family: cFont; 
src: url('Fonts/IncompleetaRegular.ttf'); 
}


.starting-page {
background-color: rgb(0, 0, 0);
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
z-index: 9999; 
transition: all 0.5s ease; 
}

.logo-container {
text-align: center;
}

.logo-container img {
max-width: 100%;
max-height: 100%;
}

.hide {
display: none;
}
@keyframes loopinout {
0% {
opacity: 0;
}
50% {
opacity: 1;
}
100% {
opacity: 0;
}
}

.logoAnim {
opacity: 0;
animation: loopinout 4s ease infinite; 
}



.loading-page {
background-color: rgba(0, 0, 0, 0.786);
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
z-index: 9999; /* ensure it's on top */
transition: all 0.5s ease; /* smooth transition */
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);
}


.hideL {
display: none;
}
.logoLOAD {
opacity: 0;
animation: loopinoutLOAD 1.5s ease infinite; 
transition: 0.5s ease;

}

@keyframes loopinoutLOAD {
0% {
    opacity: 1;
}

100% {
    opacity: 0;
}
}




.main2{
animation: 1s F-R ease;
}


.sptext{
  background: linear-gradient(to right,black,rgb(0, 0, 0),rgb(43, 43, 43), white);
  background-clip: text;
  -webkit-background-clip:text; 
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: PSansLight;
  animation: sptext 2s ease forwards;
  animation-delay: 3s;
  background-size: 500% auto;
transition: 0.2s ease;
font-weight: 500;
}
@keyframes sptext{
  from{
    transform: scale(1);
      background-position: 0%;

  }
  to{
    transform: scale(0.9);
      background-position: 100%;

  }
}
@media (min-width: 600px) {
.sptext{
font-size: 80px;
}
.sptext2{
font-size: 40px;
}
}

@media (max-width: 600px) {
.sptext2{
  font-size: 18px;
}
.sptext{
  font-size: 40px;
  padding-top: 50%;
}
}



.sptext2{
color: rgb(155, 155, 155);
text-align: center;
font-family: einaRegular;
animation: sptext2 1.5s ease-in-out forwards;
transition: 0.2s ease;
opacity: 0;

}

@keyframes sptext2{
from{
  opacity: 0;
  padding-top: 1em;

}
to{
  opacity: 1;
  padding-top: 0em;
}
}
@media (min-width: 600px) {
.animated-text{
  font-size: 70px;

}
.Body2{
  height: 400px;
  justify-content: center;
}
.animated-text{
  padding-top: 1em;
}
.p2{
  margin-left: 1.5em;
}
  }
  
  @media (max-width: 600px) {
    .animated-text{
      font-size: 35px;
    
    }
    .Body2{
  height: 480px;
}
.animated-text{
  padding-top: 2em;
}
  }
  
  

.animated-text{
  font-weight: 600;
  min-width: 280px;
  color: black;
  opacity: 0;
  transition: 2s;
}

.animated-text span{
  position: relative;
}

.animated-text span::before{
  content: "Websites";
  color: #ff0000;
  animation: words 20s infinite;
}

.animated-text span::after{
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: #ffffff;
  border-left: 2px solid #ff0000;
  right: -8px;
  animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to{
      border-left: 2px solid #ff7f5000;
  }
}

@keyframes words {
  0%,20%{
      content: "Apps";
  }
  21%,40%{
      content: "Websites";
  }
  41%,60%{
      content: "Apps";
  }
  61%,80%{
      content: "Websites";
  }
  81%,100%{
      content: "Websites";
  }
}

@keyframes typing {
  10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
      width: 0;
  }
  5%,20%,25%,40%,45%,60%,65%,80%,85%{
      width: calc(100% + 8px);
  }
}



.Body2{

  background-color: white;
display: flex;
flex-direction: column;
transition: 1s;
height: auto;
}



.p2{
padding: 1em;
opacity: 0;
transition: 1s ease-in-out;
animation-delay: 3s;
padding-top: 4em;
font-family: einaRegular;
}

.p2.in-viewport{
  padding-top: 1em;
}

.animated-text.in-viewport {
  opacity: 1;
}
.p2.in-viewport {
  opacity: 1;
}

.Body3{
  height: 300px;
display: flex;
flex-direction: column;
background:linear-gradient(to top, Black, White) ;
}

.LR,
.LR2{
  font-family: einaLight;
}


@media (min-width: 600px) {

.LR{
  transition: 2s ease-in-out;
  font-size: 50px;
  margin-left: 10px;
}
  .LR.in-viewport{
  margin-left: 250px;
}

}



@media (max-width: 600px) {
  .LR.in-viewport{
  opacity: 1;
  padding-top: 1.5em;
}
.LR{
  opacity: 0;
  transition: 1s ease-in-out;
  text-align: center;
  padding-top:3em ;
}
}




@media (min-width: 600px) {

  .LR2{
    transition: 1s ease-in-out;
    font-size: 50px;
    margin-left: auto;
  }
    .LR2.in-viewport{
    margin-right: 250px;
  }
  }
  
  
  @media (max-width: 600px) {
    .LR2.in-viewport{
    opacity: 1;
    padding-top: 1.5em;
  }
  .LR2{
    opacity: 0;
    transition: 1s ease-in-out;
    text-align: center;
    padding-top:3em ;
  }
  }
  
  .Body4{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  }

  .vector{
    width: 50px;
  }

  @media (max-width: 600px) {
    .Content{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .Card{
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    .Card img{
      margin-left: auto;
      margin-right: auto;
    }
  .vector{
    width: 250px;
    
  }
  .angle2{
    width:80%;
    margin-left: auto;
    margin-right: auto;
  }

  }

  @media (min-width: 600px) {
    .Content{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .Card{
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: end;
    }
 
    .Card img{
   left: 0;
    }
  .vector{
    width: 250px;
    left: 0;
  }
.textcontent{
display: flex;
flex-direction: column;
align-items: end;
}
.subHead{
  right: 0;
  width: 20em; 
  height: auto; 
  
}
.angle2{
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
  }




  .step1 {
  border-color: rgb(255, 255, 255) !important;
  margin:0; padding: 30px; 

 border-left: 2px dashed ; border-top: 0; border-right: 0; padding-bottom: 50p;  border-bottom: 2px dashed; border-bottom-right-radius: 0;
}


.step2{
  border-top: 2px dashed;
  border-color: rgb(255, 255, 255) !important;
  margin:0; padding: 30px;
  counter-increment: section;
  position: relative;
  border-top: 0; border-right: 2px dashed; border-left: 0;
}






@media (max-width: 600px) {
  .Content{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .Card2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .Card2 img{
    margin-left: auto;
    margin-right: auto;
  }
.vector{
  width: 250px;
  
}
.angle1{
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

}

@media (min-width: 600px) {
  .Content{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .Card2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
  }

  .Card2 img{
 right: 0;
  }
.vector{
  width: 250px;
  right: 0;
}
.textcontent2{
display: flex;
flex-direction: column;
align-items: strat;
padding-right: 10px;
}
.subHead{
right: 0;
width: 20em; 
height: auto; 

}
.angle1{
width:80%;
margin-left: auto;
margin-right: auto;
}
}

.timeline1,
.timeline2,
.timeline3{
  opacity: 0;
  transition: 1s ease;
}

.timeline1.in-viewport{
  opacity: 1;
}

.timeline2.in-viewport{
  opacity: 1;
}

.timeline3.in-viewport{
  opacity: 1;
}

.caan1,
.caan2,
.caan3,
.caan4{
  opacity: 0;
  transition: 1s ease;
  
}

.caan1.in-viewport{
  opacity: 1;
}

.caan2.in-viewport{
  opacity: 1;
}

.caan3.in-viewport{
  opacity: 1;
}
.caan4.in-viewport{
  opacity: 1;
}
