body{
    margin: 0;
    font-family: sans-serif;
background-color: rgb(0, 0, 0);
}
.main{
  animation: 2s fadeStart ease forwards;
animation-delay: 3s;
opacity: 0;
}

@keyframes fadeStart {
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
  }
.overlay{
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.600);
    overflow: hidden;
    transition: 0.8s ease;

  }

  .overlay-content {
    position: relative;
   padding-top: 10%;
    width: 100%;
    text-align: center;
    overflow: hidden;  
     backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);

  }
  .overlay-content a {
 font-size:100px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818589;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus, .navI a:hover {
    color: #f1f1f1;
    text-shadow: 0 0 2px white;
    cursor: pointer;
  }
  
 
  @media (max-height: 768px) {
    .overlay {overflow-y: auto;}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    z-index: 1;
  }
}
@media (min-width: 600px) {
    .openbtn{
       display: none;
    }
    .NavItDesk{
    display: block;
  }
  .pkgtagline {
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;
    font-weight: 2;
    font-size: xxx-large;

    text-shadow: 0 0 21px #fff;

  }
  .boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7em;
    flex-direction: row;
  
  }
  .box2 {

    box-shadow: #8B8B8B 0px -100px 519px -18px;
    background: radial-gradient(circle at center 35%, #0000001c 5%, #000000)padding-box, linear-gradient(#ffffff96, rgba(255, 255, 255, 0.116)) border-box !important;
    border-style: solid !important;
    border-color: transparent !important;
    width: 18em !important;
    height: 28em !important;
    order: 0 !important;
  }
  
 

    }

    @media (max-width: 768px) {
      .openbtn{
       display: block;
    }
    .NavItDesk{
   display: none;
 
  } .HeadMobi{
    position: sticky;
    top: 0;
  }
  .pkgtagline {
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;
    font-weight: 2;
    font-size: x-large;
    text-shadow: 0 0 21px #fff;

  }
  .boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7em;
    flex-direction: column;
  
  }
  .box2 {

    box-shadow: #8B8B8B 0px -100px 519px -18px;
    background: radial-gradient(circle at center 35%, #0000001c 5%, #000000)padding-box, linear-gradient(#ffffff96, rgba(255, 255, 255, 0.116)) border-box !important;
    border-style: solid !important;
    border-color: transparent !important;
    width: 18em !important;
    height: 28em !important;
    order: -1 !important;
  }
  
      }
.header{
    width: 100%;
    height: 10px;
    background-color: red;
}

.navI a{
  color: #818589;
  text-decoration: none;
font-size: 1.1em;
transition: 0.3s;
animation: F-R 1s ease;
font-family: cFont;
}

@keyframes F-R {
  from {
    opacity: 0;
  }
  to {
   opacity: 1;
  }
}

 .overlay .closebtn {
    position: absolute;
    padding-top: 0em;
    transition: 1s ease;
    z-index: 1;
  }
  
.openbtn {
  transition:  1.4s ease;
  padding-top: 0;
  animation: 0.5s upop ease;
}
@keyframes upop{
  from{
    opacity: 0;
    padding-top: 1.5em;
  }
  to{
    opacity: 1;
    padding-top: 0;
  }
}
.spNav{
  padding-top: 1em;
  transition: 5s;
  font-family: cFont;
}


.hrPro{
  border: 1px solid rgb(255, 255, 255);
width: 70%;
}

.themes{
  color: white;
}

.logo{
  height: 3em;
  animation: F-R 1s ease;
}

.firstHeader{
  height: 3em; 
  width: 100%; 
  background-color: rgba(0, 0, 0, 0.400);
  height: 100%; 
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

}
.secondHeader{
  height: auto;
   width: 100%; 
   background-color: rgba(0, 0, 0, 0.400);
   text-align: center; 
   padding-top: 0px;
    position: sticky; top: 0;
    backdrop-filter: blur(15px);
   -webkit-backdrop-filter: blur(15px)
}

::selection {
  background: rgb(255, 255, 255);
}

html{
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: cFont; 
  src: url('Fonts/IncompleetaRegular.ttf'); 
}



.starting-page {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
  transition: all 0.5s ease; 
}

.logo-container {
  text-align: center;
}

.logo-container img {
  max-width: 100%;
  max-height: 100%;
}

.hide {
  display: none;
}
@keyframes loopinout {
0% {
opacity: 0;
}
50% {
opacity: 1;
}
100% {
opacity: 0;
}
}

.logoAnim {
opacity: 0;
animation: loopinout 4s ease infinite; 
}



.loading-page {
  background-color: rgba(0, 0, 0, 0.786);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* ensure it's on top */
  transition: all 0.5s ease; /* smooth transition */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}


.hideL {
display: none;
}
.logoLOAD {
  opacity: 0;
  animation: loopinoutLOAD 1.5s ease infinite; 
  transition: 0.5s ease;

}

@keyframes loopinoutLOAD {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}







.box1,
.box2,
.box3 {
  width: 16em;
  height: 25em;
  border-radius: 1em;
  border: #8B8B8B 2px solid;

}


.box1,
.box3 {
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) padding-box, linear-gradient(rgb(88, 88, 88), rgba(255, 255, 255, 0.116)) border-box !important;
  border-style: solid !important;
  border-color: transparent !important;

}

.main2{
  animation: 1s F-R ease;
}