.bdy{
    display: flex;
    width: 100%;
    justify-content: center;
}

.Heading{
    height: 100px;
    background-color: aliceblue;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
